.div_history{
	width : 80%;
	margin : 10% auto;
	display: flex;
	justify-content: center;
}

.historique{
	width : 35%;
	margin-left : 5%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.stats{
	width : 35%;
	margin-right : 5%;
}

.table_hist {
	width : 100%;
}

.row_head > th{
	
	background: #343a40!important;
	padding: 22px 10px !important;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

.title{
	background: #343a40!important;
	padding: 27px 10px !important;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	display: flex;
	align-items:center;
	justify-content : center;
	margin: 0;
}

.game_line > td{
	text-align :center;
	padding : 15px 15px;
	color: #000;
	font-size : 20px;
	font-weight : bold;
	border-bottom: thick double #32a1ce;

}

.VICTOIRE {
	background-color : #CBF892;
}

.DEFAITE {
	background-color : #F7B8AB;
}
.EGALITE {
	background-color : #F7F7AB;
}

.game_line:hover{
	  box-shadow: 0 0 11px rgba(33,33,33,.2);
	  transform: translate(0px, -8px);
	  transition: .6s;
}

